@import "./font-face";

:root {
  --accent-clr: #f45;
  --selection-clr: rgba(255, 68, 68, 0.51);

  --radius-m: 10px;
  --radius-l: 20px;
  --shadow-m: 0px 6px 24px rgba(0, 0, 0, 0.35);
}

*,
*:before,
*:after {
  user-select: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: var(--white-clr);
  background-color: var(--selection-clr);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

button {
  font-family: "Inter", sans-serif;
}

input {
  font-family: "Inter", sans-serif;
}
