@import "./font-face";

:root {
  --radius-m: 10px;
  --shadow-m: 0px 6px 24px rgba(0, 0, 0, 0.35);
}

*,
*:before,
*:after {
  user-select: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// *::selection {
//   color: var(--white-clr);
//   background-color: var(--dark-clr);
// }

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
