.timer {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-middle-clr);
  border-radius: var(--radius-m);
  padding: 12px 16px;
  margin-bottom: 8px;
  box-shadow: var(--shadow-m);
}

//

.header {
  display: flex;
  margin-bottom: 12px;
}

.name {
  font-size: 14px;
  color: var(--white-clr);

  outline: none;
  border: none;
  background: none;
}

//

.body {
  position: relative;
  display: flex;
}

.time {
  display: flex;
  &_divider {
    color: var(--white-clr);
    font-size: 28px;
    font-weight: 700;
    margin: 0 2px;
  }
  &_input {
    user-select: none;
    padding-top: 3px;
    height: 36px;
    width: 40px;
    border-radius: 6px;
    background: transparent;

    font-family: "Cousine", monospace;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: var(--white-clr);

    outline: none;
    border: none;
    caret-color: transparent;

    transition: all 0.05s ease-in-out;

    &:focus {
      background: var(--selection-clr);
    }

    &::selection {
      background: none;
    }
  }
}

.timePlaceholder {
  user-select: none;
  pointer-events: none;
  position: absolute;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
