.timer {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-middle-clr);
  border-radius: var(--radius-m);
  padding: 12px 16px;
  margin-bottom: 8px;
  box-shadow: var(--shadow-m);
}

//

.header {
  display: flex;
  margin-bottom: 12px;
}

.name {
  font-size: 14px;
  color: var(--white-clr);

  outline: none;
  border: none;
  background: none;
}

//

.body {
  position: relative;
  display: flex;
}

.time {
  display: flex;
  &_divider {
    color: var(--white-clr);
    font-size: 28px;
    font-weight: 700;
  }
  &_inputWrap {
    overflow: hidden;
    position: relative;
    display: flex;
    height: 32px;
    width: 46px;
    border-radius: 6px;
    background: var(--black-opacity-clr);
  }
  &_null {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    background: var(--white-clr);
  }
  &_input {
    user-select: none;
    height: 100%;
    width: 100%;
    margin-top: 2px;

    font-family: "Cousine", monospace;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    color: var(--white-clr);

    outline: none;
    border: none;
    background: none;
  }
}

.timePlaceholder {
  user-select: none;
  pointer-events: none;
  position: absolute;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
