.darkTheme {
  --accent-ckr: #ff5050;

  --black-clr: #1b1b1b;
  --white-clr: #ffffff;

  --neutral-dark-clr: #343434;
  --neutral-middle-clr: #424242;
}

.app {
  position: relative;
  padding: 20px 16px;
  background-color: var(--neutral-dark-clr);
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  &_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &_buttons {
    display: flex;
    margin-left: 20px;
  }
  button {
    margin-left: 4px;
  }
  h1 {
    font-size: 18px;
    line-height: 130%;
    color: var(--white-clr);
    margin: 0;
    &:focus {
      outline: none;
    }
  }
  p {
    font-size: 14px;
    line-height: 152%;
    color: var(--white-clr);
    opacity: 0.7;
    margin: 0;
    &:focus {
      outline: none;
    }
  }
}

.generalButtons {
  display: flex;
  margin-bottom: 24px;
  button {
    width: 44px;
    margin-right: 8px;
    &:first-child {
      width: 100%;
      flex: 1;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.timersList {
  display: flex;
  flex-direction: column;
}
