.darkTheme {
  --accent-ckr: #ff5050;

  --black-clr: #1b1b1b;
  --white-clr: #ffffff;

  --neutral-dark-clr: #343434;
  --neutral-middle-clr: #424242;
}

.app {
  position: relative;
  padding: 20px 16px;
  background-color: var(--neutral-dark-clr);
}

.generalButtons {
  display: flex;
  margin-bottom: 20px;
  button {
    width: 44px;
    margin-right: 8px;
    &:first-child {
      width: 100%;
      flex: 1;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.timersList {
  display: flex;
  flex-direction: column;
}
